@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.animate,
.animate svg {
  display: inline;
  color: gray;
  animation: fadeIn 5s forwards;
}

.animate svg{
  display: flex !important;
}
@keyframes fadeIn {
  to {
    color: white;
    fill: white;
  }
}
